huggingface_hub==0.17.3
diffusers==0.21.4
transformers==4.34.1
accelerate==0.25.0
safetensors==0.4.2
einops==0.7.0
xformers==0.0.23
Pillow==10.0.0
gradio==4.0.0
opencv-python
tqdm
torch==2.1.0
torchvision
